/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: white;
    /* f583c5 */
}

body {
    background-color: rgb(245, 131, 197);
}
p {
    font-size: 20px;
}
/* Clearfix Class */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
a {
    text-decoration: none;
}
.navbar-nav {
    margin: auto;
}
.nav-item {
    margin-left: 20px;
    margin-right: 20px;
}


/* Header Tags */
header {
    background: rgb(255,175,255);
    background: linear-gradient(90deg, rgba(255,175,255,1) 0%, rgba(252,223,255,1) 50%, rgba(250,206,254,1) 100%);
    padding: 30px 0;
    padding-left: 1em;
}
header h2 {
    font-family: 'Quicksand', cursive;
    color: rgb(166, 3, 128);
    font-size: 350%;
    display: block;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    /* margin-right: 120px; */

}
header h3{
    font-family: 'Quicksand', cursive;
    color: #FFC400;
    font-size: 150%;
    display: block;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}
header img {
    margin-top: 15px;
}

/* Html */
/* html {
    background-image: url(../images/background.avif);
}

/* Body */
body {
    background-color: rgb(255, 255, 255, 0.75);
} */

/* List formatting */
ul li {
    font-family: 'Quicksand', cursive;
    color: white;
}

/* Logo formatting */
#logoimage {
    max-width: 120px;
    width: 100%;
    float: left;
}


/* Go to top button */
#cornerBtn {
    display: none; /* Hidden by default */
    position: fixed;
    left: 5px;
    bottom: 150px;
    z-index: 99; /* Make sure it does not overlap */
    border: 1px solid black;
    outline: none; /* Remove outline */
    font-weight: bold;
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: .5em .5em;
    margin: 0 1em 3px 0;
    font-family: 'Nova Square', cursive;
    font-size: 100%;
    border-radius: 5px;
    background-color: rgba(0,0,0,.6);
    color: white;
    transition: all .5s;
 }
.caption {
    margin: 30px 6em;
    color: white;
    font-family: 'Quicksand', cursive;
}
 #cornerBtn:hover {
    background-color: rgba(0,0,0,1);
    color: red;
    border: 1px solid red;
 }

/* Footer Tag */
footer {
    clear: both;
    color: white;
    background: rgb(255,175,255);
    background: linear-gradient(90deg, rgba(255,175,255,1) 0%, rgba(252,223,255,1) 50%, rgba(250,206,254,1) 100%);
    text-align: center;
    font-size: 150%;
    font-variant: small-caps;
    border: 2px solid rgb(166, 3, 128);
}

footer p {
    font-family: 'Quicksand', cursive;
    margin-bottom: 1px;
    color: black;
}
/* Footer container elements */
.footer-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.footer-img {
    margin-top: 5px;
    max-width: 40px;
    border: 3px solid black;
    border-radius: 10px;
}
.footer-item {
    flex-basis: 10%;
}

#small-pg {
    font-size: 75%;
}

/* Media Query */
@media only screen and (max-width: 820px) {
    .footer-item {
        flex-basis: 20%;
    }
}
